.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: var(--header-height);
	margin: 0 auto;
	background-image: linear-gradient(
  		to bottom,
		var(--bg),
  		color-mix(in srgb, var(--bg) 94%, transparent) 10%,
  		color-mix(in srgb, var(--bg) 90%, transparent) 30%,
  		color-mix(in srgb, var(--bg) 65%, transparent) 70%,
  		color-mix(in srgb, var(--bg) 20%, transparent) 90%,
  		transparent 100%
	);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

/* logo */
.logoWrapper {
	/* outline: 1px solid tomato; */
	display: flex;
	gap: 8px;
	align-items: center;
}

.logo {
	display: block;
	width: 26px;
	height: 26px;
	background: url("/assets/brand/logo192-alpha.png");
	background-size: contain;
}

.header h1 {
	font-size: 1.6rem;
}

/* btnsWrapper */
.nav {
	padding: 8px 12px;
	background-color: var(--bg-color-primary);
	border: 1px solid var(--bg-color-secondary);
	border-radius: var(--border-radius-primary);
	box-shadow: 0 4px 8px #0008;
}

.navList {
	display: flex;
	gap: 16px;
	align-items: center;
}

.navItem {
	width: 32px;
	height: 32px;
	padding: 0;
	background-color: unset;
}

.navItem svg {
	width: 22px;
	height: 22px;
}